.Navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 10vh;
}

.Navbar .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: repeating-linear-gradient(
        45deg,
        #f11c3fc0,
        #f11c3fc0 5px,
        #ff35eec0 5px,
        #ff35eec0 10px      
    );
    padding: 0 13px;
    width: 20%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    text-decoration: none;
    font-weight: 500;
    text-shadow: 2px 4px 3px #000;
    box-shadow: 0 0 10px 3px #000000;
}

.Navbar .logo a {
    text-decoration: none;
    color: #ffffff;
}

.Navbar .slider-container {
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: bold;
    background-image: repeating-linear-gradient(
        -45deg,
        #525252c0,
        #525252c0 5px,
        #202020c0 5px,
        #202020c0 10px      
    );
}

.Navbar .slider-container span {
    padding-left: 10px;
    padding-right: 10px;
    color: #e5e5e5;
}

.slider {
    margin: 0 10px;
    width: 250px;
    display: inline-block;
}

.rc-slider-track {
    background-color: rgb(11, 148, 84);
    height: 12px;
}

.rc-slider-rail {
    background-color: rgb(98, 231, 158);
    height: 12px;
    box-shadow: 0 3px 15px -2px #252525;
}

.rc-slider-handle,
.rc-slider-handle:focus {
    margin-top: -3px;
    background-color: rgb(149, 149, 149);
    width: 30px;
    height: 18px;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow: inset 0px 3px 6px 2px rgb(165, 164, 164), inset 0 1px 5px 3px rgb(105, 100, 101);
}

.Navbar .select-container {
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-image: repeating-linear-gradient(
        -45deg,
        #14bd08c0,
        #14bd08c0 5px,
        #27fa02c0 5px,
        #27fa02c0 10px      
    );
    box-shadow: 0 -1px 15px 0px #000000;
}

.MuiInputBase-root {
    width: 100%;
    background-color: #0c8d178f;
}

.MuiInputBase-input {
    color: white !important;
    font-weight: 500 !important;
}

.MuiSelect-selectMenu {
    padding-left: 0.8rem !important;
}

.MuiSelect-icon {
    color: white !important;
}