.Palette {
    height: 100vh;
}

.Palette-color {
    height: 90%;
}

.slider {
    margin: 0 10px;
    width: 340px;
    display: inline-block;
}

.rc-slider-track {
    background-color: rgb(11, 148, 84);
    height: 8px;
}

.rc-slider-rail {
    background-color: rgb(98, 231, 158);
    height: 8px;
}

.rc-slider-handle,
.rc-slider-handle:focus {
    margin-top: -3px;
    background-color: rgb(149, 149, 149);
    width: 30px;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow: inset 0px 3px 6px 2px rgb(165, 164, 164), inset 0 1px 5px 3px rgb(105, 100, 101);
}
